:root {
  --primary: #E3F4DF;
  --secondary: #9BE4FB;
  --white: #FAFAFA;
}

body {
  background: var(--primary);
  font-family: 'Ubuntu', sans-serif;
}

.header {
  
}

.header__title {
  text-align: center;
  font-size: 45px;
}